.summary {
  padding: 2.4em 1em;
  min-height: inherit;
}

.summary p {
  font-size: 0.8em;
}

.summary h1 {
  font-size: 1.5em;
}

.summary h2 {
  font-size: 1.2em;
  font-weight: lighter;
  margin-bottom: 1em;
  /* opacity: 0.75; */
}

/* .summary div {} */

/* .summary div p {} */

.summary div a {
  display: block;
  margin-top: 8em;
  padding: 0.6em;
  border: 1px solid rgba(45 67 86 / 0.4);
  background-color: hsl(15, 64%, 74%);
  border-radius: 0.4em;
  text-align: center;
}
