.summary {
  padding: 3rem 1.25rem;
  /* height: calc(100% - 64px); */
}

/* .summary p {} */

/* .summary h1 {} */

.summary h2 {
  font-size: 1.25rem;
  font-weight: lighter;
  margin-bottom: 1.25em;
  opacity: 0.75;
  text-decoration: underline dotted;
}

.summary div {
  font-size: 1rem;
}

/* .summary div p {} */

.summary div a {
  display: block;
  margin-top: 6em;
  padding: 0.75em;
  border: 1px solid rgba(45 67 86 / 0.4);
  background-color: hsl(15, 64%, 74%);
  border-radius: 0.5em;
  text-align: center;
}
