/* ExtraLight (200) */
@font-face {
  font-family: 'Outfit';
  src: url(./assets/fonts/Outfit/Outfit-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url(./assets/fonts/Roboto_Slab/RobotoSlab-ExtraLight.ttf)
    format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

/* Regular (400) */
@font-face {
  font-family: 'Outfit';
  src: url(./assets/fonts/Outfit/Outfit-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url(./assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* Semibold (600) */
@font-face {
  font-family: 'Outfit';
  src: url(./assets/fonts/Outfit/Outfit-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url(./assets/fonts/Roboto_Slab/RobotoSlab-SemiBold.ttf)
    format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  cursor: url(./assets/cursor.cur), auto;
  /* outline: 1px solid red; */
}

:root {
  --blu-wing-teal: #2d4356;
  --saxon-blu: #435b66;
  --pomegranate-tea: #a76f6f;
  --wax-flower: #eab2a0;
  color: var(--pomegranate-tea);
  background-color: var(--blu-wing-teal);
  font-size: 10px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  margin-inline: auto;
  min-width: 320px;
  min-height: 100vh;
}

body.restrict {
  height: 100vh;
  overflow: hidden hidden;
}

section {
  content-visibility: auto;
  contain-intrinsic-size: 100vh;
}

header {
  background-color: var(--blu-wing-teal);
  padding: 2em 3em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__left a {
  color: inherit;
  text-decoration: none;
  display: grid;
  place-items: center;
  max-width: 80px;
}

.header__right {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.navlist__bar {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 320px;
  background-color: var(--wax-flower);
  padding: 4.5em 3em;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  box-shadow: -100vw 0 100vw rgba(0, 0, 0, 0);
  transition: transform 0.3s, opacity 0.2s;
}

.visible {
  transform: translateX(0);
  box-shadow: -100vw 0 100vw rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.hidden {
  transform: translateX(100%);
  box-shadow: -100vw 0 100vw rgba(0, 0, 0, 0);
  opacity: 0;
}

#hide-nav {
  align-self: flex-end;
  margin-bottom: auto;
  border: 0;
  padding: 0;
  font-size: 1.5em;
  min-height: 1em;
  min-width: 1em;
  color: var(--saxon-blu);
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.navlist__bar a {
  font-size: 2em;
  color: var(--blu-wing-teal);
  text-decoration: none;
  padding: 0 0.25em;
}

.navlist__bar a:not(:last-child) {
  margin-bottom: 0.5em;
}

.navlist__bar a:last-child {
  margin: auto 0;
  color: var(--wax-flower);
  background-color: var(--blu-wing-teal);
  font-size: 2.25em;
  font-family: 'Roboto Slab', sans-serif;
  align-self: center;
  padding: 0.2em 1em 0.3em;
  border-radius: 2.5em;
  border: 2px solid;
}

.header__right button {
  font-size: 1.5em;
  min-width: 1em;
  min-height: 1em;
  border: 0;
  padding: 0;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

main {
  padding: 0 3em;
}

.landing {
  height: 100vh;
  min-height: 768px;
  font-size: 2em;
  padding-bottom: 9.6em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  perspective: 2056px;
}

.landing p {
  font-size: 0.87em;
}

.gov-name {
  color: var(--wax-flower);
  font-size: 1.3em;
  position: relative;
}

.gov-name svg {
  position: absolute;
  overflow: hidden;
  top: calc(100% + 0.125em);
  left: 50%;
  margin: 0;
  width: 100%;
  height: 0.5em;
  transform: translate(-50%, -90%);
  fill: none;
  stroke: currentColor;
  stroke-width: 0.25em;
  stroke-dasharray: 768px;
  stroke-dashoffset: 768px;
  animation: stroke 1.375s 0.625s alternate forwards;
}

@keyframes stroke {
  from {
    stroke-dashoffset: 768px;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.intro {
  font-size: 0.87em;
  margin-bottom: 1em;
}

.big {
  color: var(--wax-flower);
  font-size: 1.3em;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.big::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blu-wing-teal);
  opacity: 0.8;
  animation: uncover 1.375s alternate forwards;
}

@keyframes uncover {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.big:first-of-type::before {
  animation-delay: 0.625s;
}

.big:last-of-type::before {
  animation-delay: 2s;
}

.cuboid {
  --width: 300px;
  --depth: calc(var(--width) / 8);
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: var(--width);
  height: var(--depth);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.2s cubic-bezier(0.36, 0.45, 0.63, 1.4);
}

.face {
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  color: var(--blu-wing-teal);
  background-color: var(--wax-flower);
  position: absolute;
  width: 100%;
  height: var(--depth);
  display: grid;
  place-items: center;
}

.front,
.back {
  --coefficient: 0.5;
  --rotation: 0;
  transform: translateZ(calc(var(--depth) * var(--coefficient)));
}

.back {
  --coefficient: -0.5;
  transform: scaleY(-1) translateZ(calc(var(--depth) * var(--coefficient)));
}

.left,
.right {
  --rotation: -90deg;
  width: var(--depth);
  height: var(--depth);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(var(--rotation))
    translate3d(0, 0, calc(var(--width) * 0.5));
  background-color: var(--saxon-blu);
}

.right {
  --rotation: 90deg;
}

.top,
.bottom {
  --rotation: 90deg;
  --coefficient: 0.5;
  transform: rotateX(var(--rotation))
    translate3d(0, 0, calc(var(--depth) * var(--coefficient)));
}

.bottom {
  --rotation: -90deg;
}

.projects-section {
  padding: 3em 0;
  color: var(--blu-wing-teal);
  background-color: var(--wax-flower);
  box-shadow: 0 0 0 100vmax var(--wax-flower);
  clip-path: inset(0 -100vmax);
}

.projects-section h2 {
  font-size: 3em;
  margin-bottom: 0.625em;
}

.projects-list {
  list-style-type: none;
  padding: 0;
}

.projects-list .project {
  position: relative;
  width: 100%;
  padding-bottom: calc((11 / 15) * 100%);
  transform: translate(-1px, -1px);
  transition: transform 0.2s ease-in-out;
  z-index: 3;
  overflow: hidden;
  border-radius: 0.8em;
  outline: 1px solid transparent;
}
.projects-list .project > * {
  pointer-events: none;
}

.projects-list .project .preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-list .project:active {
  transform: translate(1px, 1px);
}

.projects-list .project::after {
  content: '';
  position: absolute;
  z-index: 1;
  inset: 0;
  background-image: linear-gradient(7.5deg, #fff, #00000000 50%);
}

.projects-list .project:not(:last-child) {
  margin-bottom: 1.5em;
}

.project-title {
  font-size: 1.4em;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 600;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  padding-inline: 0.75em;
  padding-block: 0.25em;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: #00000033;
  display: grid;
  place-items: center;
  transition: opacity 0.2s linear;
}

.backdrop.hide {
  opacity: 0;
}

.modal {
  color: var(--wax-flower);
  background-color: var(--blu-wing-teal);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 1.5em;
  padding: 1em;
  border-radius: 10px;
  transition: opacity 0.2s linear, transform 0.2s ease-in-out;
}

.modal.hide {
  opacity: 0;
  transform: scale(0.75);
}

.modal__title {
  font-size: 2.2em;
}

.modal__project-screenshot-container {
  position: relative;
  width: 100%;
  padding-bottom: calc((11 / 15) * 100%); /* 15:11 aspect ratio */
  margin-bottom: 1.25em;
  overflow: hidden;
  border-radius: 8px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: #00000000 var(--wax-flower) var(--wax-flower) #00000000;
  transform: translate(-1px, -1px);
  animation: pulsate 2s linear infinite alternate;
}

@keyframes pulsate {
  from {
    border-color: #00000000 var(--wax-flower) var(--wax-flower) #00000000;
    transform: translate(-1px, -1px);
  }
  to {
    border-color: #00000000 #00000000 #00000000 #00000000;
    transform: translate(1px, 1px);
  }
}

.modal__project-screenshot-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal__details {
  position: relative;
  max-height: 375px;
}

.details__desc {
  font-size: 1.5em;
  font-family: 'Roboto Slab', sans-serif;
}

.details__more {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding: 0.75em 0 0.375em;
}

.details__more a {
  color: inherit;
  text-decoration: none;
  font-size: 2em;
  padding: 0.1em;
  display: grid;
  place-items: center;
}

@media only screen and (min-width: 1024px) {
  .navlist__bar {
    position: static;
    width: auto;
    max-width: 100%;
    background-color: initial;
    padding: 0;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2em;
    transition: none;
  }

  .visible,
  .hidden {
    transform: none;
    opacity: 1;
    box-shadow: none;
  }

  .navlist__bar a {
    color: inherit;
    margin: 0 !important;
  }

  #show-nav,
  #hide-nav {
    display: none;
  }
}
