@font-face {
  font-family: 'Acorn';
  src: local('Acorn ExtraLight'), local('Acorn-ExtraLight'),
    url('./assets/fonts/Acorn/Acorn-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acorn';
  src: local('Acorn Regular'), local('Acorn-Regular'),
    url('./assets/fonts/Acorn/Acorn-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acorn';
  src: local('Acorn SemiBold'), local('Acorn-SemiBold'),
    url('./assets/fonts/Acorn/Acorn-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  cursor: url(./assets/cursor.cur), auto;
  /* outline: 1px solid red; */
}

:root {
  --blu-wing-teal: #2d4356;
  --saxon-blu: #435b66;
  --pomegranate-tea: #a76f6f;
  --wax-flower: #eab2a0;
  color: var(--pomegranate-tea);
  background-color: var(--blu-wing-teal);
  font-family: 'Acorn', sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 6.25em;
}

body {
  max-width: 1280px;
  margin-inline: auto;
  min-width: 320px;
  min-height: 100vh;
}

body.restrict {
  height: 100vh;
  overflow: hidden hidden;
}

section {
  content-visibility: auto;
  contain-intrinsic-size: 100vh;
}

header {
  background-color: var(--blu-wing-teal);
  padding: 1.25em 2em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
}

header.header-with-shadow {
  box-shadow: 0 4px 12px #00000050;
}

.header__left a {
  color: inherit;
  text-decoration: none;
}

.header__left a img {
  max-width: 64px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navlist__bar {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 320px;
  background-color: var(--wax-flower);
  padding: 2.8125em 1.875em;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  box-shadow: -100vw 0 100vw #00000033;
  transition: transform 0.3s, opacity 0.2s;
}

.navlist__bar.no-show {
  transform: translateX(100%);
  box-shadow: -100vw 0 100vw #00000000;
  opacity: 0;
}

.hidden {
  visibility: hidden;
}

#hide-nav {
  align-self: flex-end;
  margin-bottom: auto;
  border: 0;
  padding: 0;
  width: 1em;
  aspect-ratio: 1 / 1;
  color: var(--saxon-blu);
  background-color: #00000000;
  display: grid;
  place-items: center;
}

.navlist__bar a {
  font-size: 1.375em;
  color: var(--blu-wing-teal);
  text-decoration: none;
  padding: 0 0.25em;
}

.navlist__bar a:not(:last-child) {
  margin-bottom: 0.5em;
}

.navlist__bar a:last-child {
  margin: auto 0;
  color: var(--wax-flower);
  background-color: var(--blu-wing-teal);
  font-size: 1.5em;
  font-family: 'Outfit', sans-serif;
  align-self: center;
  padding: 0.2em 1em 0.3em;
  border-radius: 2.5em;
  border: 2px solid;
}

.header__right button {
  width: 1em;
  aspect-ratio: 1 / 1;
  border: 0;
  padding: 0;
  color: inherit;
  background-color: #00000000;
  display: grid;
  place-items: center;
}

main {
  padding: 0 1.875em;
}

.landing {
  font-family: 'Acorn', sans-serif;
  letter-spacing: 0.1em;
  height: 100vh;
  min-height: 768px;
  padding-bottom: 12em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  perspective: 2056px;
}

.gov-name {
  color: var(--wax-flower);
  font-size: 1.3em;
  position: relative;
}

.intro {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.big {
  color: var(--wax-flower);
  font-size: 1.3em;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.cuboid {
  font-family: 'Outfit', sans-serif;
  min-width: 300px;
  --width: 300px;
  --depth: calc(var(--width) / 8);
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: var(--width);
  height: var(--depth);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.2s cubic-bezier(0.36, 0.45, 0.63, 1.4);
}

.cuboid > * {
  user-select: none;
  pointer-events: none;
}

.face {
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  color: var(--blu-wing-teal);
  background-color: var(--wax-flower);
  position: absolute;
  width: 100%;
  height: var(--depth);
  display: grid;
  place-items: center;
}

.front,
.back {
  --coefficient: 0.5;
  --rotation: 0;
  transform: translateZ(calc(var(--depth) * var(--coefficient)));
}

.back {
  --coefficient: -0.5;
  transform: scaleY(-1) translateZ(calc(var(--depth) * var(--coefficient)));
}

.left,
.right {
  --rotation: -90deg;
  width: var(--depth);
  height: var(--depth);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(var(--rotation))
    translate3d(0, 0, calc(var(--width) * 0.5));
  background-color: var(--saxon-blu);
}

.right {
  --rotation: 90deg;
}

.top,
.bottom {
  --rotation: 90deg;
  --coefficient: 0.5;
  transform: rotateX(var(--rotation))
    translate3d(0, 0, calc(var(--depth) * var(--coefficient)));
}

.bottom {
  --rotation: -90deg;
}

.projects-section {
  padding: 2em 0;
  color: var(--blu-wing-teal);
  background-color: var(--wax-flower);
  box-shadow: 0 0 0 100vmax var(--wax-flower);
  clip-path: inset(0 -100vmax);
}

.projects-section h2 {
  font-size: 2em;
  margin-bottom: 0.625em;
}

.projects-list {
  list-style-type: none;
  padding: 0;
}

.projects-list .project {
  color: inherit;
  background-color: var(--blu-wing-teal);
  position: relative;
  overflow: hidden;
  z-index: 3;
  width: 100%;
  padding: 0 0 calc((11 / 15) * 100%);
  transform: translate(0, -1px);
  transition: transform 0.125s ease-in-out, box-shadow 0.125s ease-in-out;
  border: 0;
  border-radius: 0.8em;
  outline: 2px solid transparent;
}

.projects-list .project > * {
  pointer-events: none;
}

.projects-list .project:focus {
  box-shadow: 0 1px 0 1px var(--blu-wing-teal);
}

.projects-list .project:active {
  transform: translate(0, 1px);
  box-shadow: 0 1px 0 1px #00000000;
}

.projects-list .project:not(:last-child) {
  margin-bottom: 1em;
}

.project-title {
  font-size: 0.9375em;
  line-height: 1;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  position: absolute;
  z-index: 2;
  bottom: 0.2em;
  left: 0.2em;
  max-width: 62.5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  padding: 0.375em 0.6666em 0.325em;
  background-color: var(--wax-flower);
  border-radius: 0.8rem;
}

.projects-list .project .screenshot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reach_out-section {
  color: var(--wax-flower);
  padding: 1.875em;
}

.reach_out-section h2 {
  font-size: 2em;
  margin-bottom: 0.625em;
}

.modal-backdrop {
  position: fixed;
  z-index: 9999;
  inset: 0;
  padding: 1.875em;
  background-color: #00000033;
  display: grid;
  place-items: center;
  transition: opacity 0.2s linear;
}

.modal-backdrop.hide {
  opacity: 0;
}

.modal {
  color: var(--wax-flower);
  background-color: var(--blu-wing-teal);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  padding: 0.625em;
  border-radius: 0.8em;
  transition: opacity 0.2s linear, transform 0.2s ease-in-out;
}

.modal.hide {
  opacity: 0;
  transform: scale(0.75);
}

.modal__title {
  font-size: 1.125em;
  font-family: 'Outfit', sans-serif;
  margin: 0.125em 0 0.375em;
}

.modal__project-screenshot-container {
  text-decoration: none;
  color: inherit;
  position: relative;
  width: 100%;
  padding-bottom: calc((11 / 15) * 100%); /* 15:11 aspect ratio */
  margin-bottom: 0.75em;
  overflow: hidden;
  border-radius: 0.8rem;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: var(--wax-flower);
  transform: translateY(-1px);
  transition: transform 0.2s ease-in-out, border-color 0.15s ease-in-out;
}

.modal__project-screenshot-container:active {
  transform: translateY(1px);
  border-color: #00000000;
}

.modal__project-screenshot-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal__details {
  position: relative;
  max-height: 375px;
}

.details__desc {
  font-size: 0.9375em;
  font-family: 'Acorn', sans-serif;
}

.details__more {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.625em 0 0.4em;
}

.details__more a {
  color: inherit;
  text-decoration: none;
  font-size: 1.375em;
  padding: 0.1em;
  display: grid;
  place-items: center;
}

@media only screen and (min-width: 1024px) {
  body.restrict {
    height: initial;
    overflow: initial;
  }

  .landing {
    font-size: 2.625em;
    padding-bottom: 7.3em;
  }

  /* .cuboid {} */

  .navlist__bar {
    position: static;
    width: auto;
    max-width: 100%;
    background-color: initial;
    padding: 0;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2em;
    transition: none;
  }

  .no-show {
    transform: none !important;
    opacity: 1 !important;
    box-shadow: none !important;
  }

  .navlist__bar a {
    color: inherit;
    margin: 0 !important;
  }

  #show-nav,
  #hide-nav {
    display: none;
  }

  .projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em 3.5em;
  }

  .modal {
    max-width: 768px;
  }
}
