@font-face {
  font-family: 'Outfit';
  src: url(./assets/Outfit/Outfit-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

/* Regular (400) */
@font-face {
  font-family: 'Outfit';
  src: url(./assets/Outfit/Outfit-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* Semibold (600) */
@font-face {
  font-family: 'Outfit';
  src: url(./assets/Outfit/Outfit-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  cursor: url(./assets/cursor.cur), auto;
  /* outline: 1px solid red; */
}

:root {
  --blu-wing-teal: #2d4356;
  --saxon-blu: #435b66;
  --pomegranate-tea: #a76f6f;
  --wax-flower: #eab2a0;
  color: var(--saxon-blu);
  background-color: var(--wax-flower);
  font-size: 10px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

section {
  content-visibility: auto;
  contain-intrinsic-size: 100vh;
}

header {
  background-color: var(--wax-flower);
  padding: 2em 3em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}

.header__left a {
  color: inherit;
  text-decoration: none;
  font-size: 3em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.header__right {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.navlist__bar {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 320px;
  background-color: var(--wax-flower);
  padding: 3.75em 3em;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  box-shadow: -100vw 0 100vw rgba(0, 0, 0, 0);
  transition: transform 0.125s, opacity 0.125s;
}

.visible {
  transform: translateX(0);
  box-shadow: -100vw 0 100vw rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.hidden {
  transform: translateX(100%);
  box-shadow: -100vw 0 100vw rgba(0, 0, 0, 0);
  opacity: 0;
}

#hide-nav {
  align-self: flex-end;
  margin-bottom: auto;
  border: 0;
  padding: 0;
  font-size: 1.5em;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.navlist__bar a {
  font-size: 2em;
  color: var(--blu-wing-teal);
  text-decoration: none;
  padding: 0 0.25em;
}

.navlist__bar a:not(:last-child) {
  margin-bottom: 0.5em;
}

.navlist__bar a:last-child {
  margin-bottom: auto;
}

.header__right button {
  font-size: 1.5em;
  border: 0;
  padding: 0;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

main {
  padding: 0 3em;
}

.landing {
  height: 100vh;
  min-height: 768px;
  font-size: 2em;
  padding: 4.25em 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.landing p {
  font-size: 0.87em;
}

.gov-name {
  color: var(--blu-wing-teal);
  font-size: 1.3em;
}

.intro {
  font-size: 0.87em;
  margin-bottom: 0.333em;
}

.big {
  color: var(--blu-wing-teal);
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
}

.cuboid {
  list-style-type: none;
  padding: 0;
  --width: 256px;
  --height: calc(var(--width) / 10);
  --depth: var(--height);
  position: relative;
  width: var(--width);
  height: var(--height);
  /* transform: rotateX(-1.5deg) rotateY(7.5deg); */
  perspective: 800px;
  transform-style: preserve-3d;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.face {
  position: absolute;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  background-color: var(--wax-flower);
  /* text-align: center; */
  font-size: 0.9em;
  padding: 4px;
  line-height: 1;
}

.front,
.back {
  width: var(--width);
  height: var(--height);
  --coefficient: 0.5;
  transform: translate3d(0, 0, calc(var(--depth) * var(--coefficient)));
}

.back {
  --coefficient: -0.5;
}

.left,
.right {
  --rotation: 90deg;
  width: var(--depth);
  height: var(--height);
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotateY(var(--rotation))
    translate3d(0, 0, calc(var(--width) * -0.5));
}

.right {
  --rotation: -90deg;
}

.top,
.bottom {
  --rotation: -90deg;
  width: var(--width);
  height: var(--height);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(var(--rotation))
    translate3d(0, 0, calc(var(--height) * -0.5));
}

.bottom {
  --rotation: 90deg;
}

@media screen and (max-width: 1024px) {
  /* .lg-screen__nav {} */
}
