.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1em;
  border-bottom: 1px solid rgba(46 68 87 / 0.4);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.header .header-link {
  font-size: 1.2rem;
  font-weight: 900;
  font-family: var(--ff-2);
}

.header .larger-screens-nav {
  font-size: 0.8em;
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.header .larger-screens-nav .nav-link {
  padding: 6px 8px;
  border-radius: 0.5em;
  border: 1px dashed transparent;
}

.header .larger-screens-nav .nav-link::after {
  background-color: rgba(45 67 86 / 1);
  color: var(--clr-1);
}

.header .larger-screens-nav .nav-link.active {
  position: relative;
  border-color: rgba(45 67 86 / 0.8);
}

.header .larger-screens-nav .nav-link.resume {
  border-style: solid;
  border-color: rgba(45 67 86 / 0.4);
  background-color: hsl(15, 64%, 74%);
  padding: 8px 16px;
  margin-left: 8px;
}

.header .drawer-toggle {
  width: 1.6em;
  height: 1.6em;
  border-width: 0;
  display: grid;
  place-items: center;
  /* padding: 8px; */
  border-radius: 50%;
  background: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .header {
    height: 4em;
    padding-inline: 1.6em;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 4.8em;
    padding-inline: 2em;
  }

  .header .header-link {
    font-size: 1.5em;
  }

  .header .larger-screens-nav {
    display: flex;
  }

  .header .drawer-toggle {
    display: none;
  }
}
