.drawer {
  position: fixed;
  left: 25%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
}

.drawer.closed {
  transform: translateX(100%);
}

.drawer-nav {
  height: 100%;
  background-color: var(--clr-4);
  color: var(--clr-1);
  padding: 2px 48px;
}

.drawer-link {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 12px 0;
}

.drawer-link:not(.drawer-link:first-child) {
  padding: 4px 12px;
}

.hidden-close-drawer-btn {
  border-width: 0;
  background: none;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 100%;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 8px;
}
