.drawer {
  position: fixed;
  left: 38%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  background-color: var(--clr-4);
  background-image: url(../../../assets/images/stacked-peaks-haikei.svg);
  color: var(--clr-1);
}

body:has(aside[class="drawer"]) {
  overflow: hidden;
}

.drawer.closed {
  transform: translateX(100%);
  visibility: hidden;
}

.drawer header {
  height: 3.2em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(234 178 160 / 0.4);
  padding-inline: 1em;
}

.drawer header .close-drawer-btn {
  border-width: 0;
  background: none;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 8px;
}

.drawer .drawer-nav {
  /* font-size: 1.25rem; // 20px */
  height: calc(100% - 3.2em);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2.4em;
}

.drawer .drawer-nav div {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1.2em;
}

.drawer .drawer-nav .drawer-link {
  padding: 3px 9px;
  /* margin-left: 0.4em; */
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: row nowrap;
}

.drawer .drawer-nav .drawer-link:not(.drawer-link.resume)::before {
  content: ".";
  position: absolute;
  font-family: var(--ff-2);
  left: -0.8em;
  top: 50%;
  transform: translateY(-50%);
}

.drawer .drawer-link.resume {
  font-size: 0.8em;
  background-color: hsl(208, 31%, 20%);
  padding: 0.5em 1.25em;
  border-radius: 0.5em;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .drawer header {
    height: 4em;
    padding-inline: 1.6em;
  }

  .drawer .drawer-nav div {
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .drawer {
    display: none;
  }

  .drawer header {
    height: 4.8em;
    padding-inline: 2em;
  }
}
