.projects {
  min-height: inherit;
  padding: 2.4em 1em;
}

.projects h1 {
  font-size: 1.2em;
  margin-bottom: 1.6667em;
}

.projects .projects-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.125em;
}

.projects .projects-grid .project {
  padding: 0.6em;
  border-radius: 10px;
  background-color: hsl(15, 64%, 74%);
}

.projects .projects-grid .project .project-title {
  font-size: 1.5em;
  text-align: right;
  margin-bottom: 0.6667em;
}

.projects .projects-grid .project .project-title a {
  position: relative;
}

.projects .projects-grid .project .project-title a::after {
  position: absolute;
  content: "";
  border-bottom: 1px dashed;
  right: 0;
  bottom: 4px;
  left: 0;
}

.projects .projects-grid .project .project-desc {
  font-size: 0.8em;
  padding: 0.25em;
  margin-bottom: 0.75em;
}

.projects .projects-grid .project img {
  border-radius: 6px;
  margin: auto;
}

.projects .projects-grid .project .project-stack {
  margin: 0.4em;
  margin-top: 0.8em;
  display: flex;
  flex-flow: row wrap;
  gap: 0.4em;
}

.projects .projects-grid .project .project-stack svg {
  width: 1.5em;
  height: 1.5em;
}

@media screen and (min-width: 768px) {
  .project .projects-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .project .projects-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
