@font-face {
  font-family: "3Dumb";
  src: url("./assets/3dumb/3Dumb.ttf") format("truetype");
}

:root {
  --clr-1: #eab2a0;
  --clr-2: #a76f6f;
  --clr-3: #435b66;
  --clr-4: #2d4356;
  --ff-1: "3Dumb", cursive;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-1);
  color: var(--clr-4);
  font-family: var(--ff-1);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
  max-width: 1200px;
  margin: 0 auto;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
