@font-face {
  font-family: "3Dumb";
  src: url("./assets/3Dumb/3Dumb.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "2Dumb";
  src: url("./assets/3Dumb/2Dumb.ttf") format("truetype");
  font-display: swap;
}

:root {
  box-sizing: border-box;

  --clr-1: #eab2a0;
  --clr-2: #a76f6f;
  --clr-3: #435b66;
  --clr-4: #2d4356;

  --ff-1: "2Dumb", cursive;
  --ff-2: "3Dumb", cursive;

  background-color: var(--clr-1);
  color: var(--clr-4);
  font-family: var(--ff-1);
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 1px solid red; */
  cursor: url(./assets/cursor.cur), auto;
  -webkit-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  letter-spacing: 1px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 64px;
  min-height: calc(100vh - 64px);
}

@media screen and (min-width: 768px) {
  body {
    margin-top: 80px;
    min-height: calc(100vh - 80px);
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin-top: 96px;
    min-height: calc(100vh - 96px);
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-2);
}

#root {
  isolation: isolate;
  min-height: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  text-decoration: none;
  background-color: hsla(208, 31%, 26%, 0.2);
  border-bottom: 1px solid;
}

a.active {
  border: 1px dashed rgba(234 178 160 / 0.8);
}

a.active::after {
  content: "X";
  position: absolute;
  font-family: var(--ff-1);
  font-size: 0.5em;
  font-weight: 900;
  top: 100%;
  left: 90%;
  transform: translateY(-50%) rotate(-45deg);
  padding: 2px 6px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-radius: 0.6em;
  border: 1px dashed rgb(234 178 160 / 0.8);
}
