.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer .content {
  position: relative;
}

.footer .content .socials {
  font-size: 1.6em;
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  margin: 1.5em;
  gap: 0.6em;
}

.footer .content .socials::before {
  content: "";
  position: absolute;
  top: -10%;
  right: -50%;
  bottom: -10%;
  border-radius: 8px;
  left: -50%;
  backdrop-filter: blur(2px);
  /* background-color: hsla(15, 64%, 77%, 1); */
  z-index: -1;
}

.footer .content .socials a {
  /* width: 1.25em; */
  /* height: 1.25em; */
  display: grid;
  place-items: center;
}

.footer .content .socials a svg {
  width: 1.25em;
  height: 1.25em;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-15deg) scale(1.25);
  }
  40% {
    transform: rotate(15deg) scale(1.25);
  }
  60% {
    transform: rotate(-15deg) scale(1.25);
  }
  80% {
    transform: rotate(15deg) scale(1.25);
  }
  100% {
    transform: rotate(0) scale(1.25);
  }
}

.footer .content .socials a:hover,
.footer .content .socials a:focus {
  animation: shake 0.4s both;
}

.footer .content .mail-section {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2.4em;
}

.footer .content .mail-section::before {
  content: "";
  position: absolute;
  top: -2.5%;
  right: -50%;
  bottom: -2.5%;
  border-radius: 8px;
  left: -50%;
  backdrop-filter: blur(2px);
  /* background-color: hsla(15, 64%, 77%, 1); */
  z-index: -1;
}

.footer .content .mail-section a {
  display: inline-grid;
  grid-auto-flow: row;
  font-size: 0.8em;
}

.footer .content .mail-section a span {
  display: inline-block;
  margin-bottom: -0.625em;
}

@media screen and (max-width: 1023px) {
  .footer {
    display: none;
  }
}
